extends layout

block content
  .container
    h1 Media
    if media.length > 0
      p.lead Below is a list of uploaded media.
      each m in media
        div.media
          a.pull-left(href="#{m.url}")
            img.media-object.img-rounded(src="#{m.url}", alt="#{m.name}", width=200, style="border: 1px solid silver")
          div.media-body
            h2.media-heading= m.name
            p
              strong x:&nbsp;
              | #{m.x},&nbsp;
              strong y:&nbsp;
              | #{m.x},&nbsp;
              strong scale:&nbsp;
              | #{m.scale},&nbsp;
              strong angle:&nbsp;
              | #{m.angle}
              br
              strong type:&nbsp;
              | #{m.type}
              br
              strong session:&nbsp;
              | #{m.session}
              br
              strong order:&nbsp;
              | #{m.order}
              br
              strong url:&nbsp;
              | #{m.url}
    else
      p.lead
        em No media available.
