extends layout

block content
  each m in media
    div.media
      a.pull-left(href="#{m.url}")
        img.media-object.img-rounded(src="#{m.thumbnail_url}", alt="#{m.name}")
      div.media-body
        h4.media-heading= m.name
        p x=#{m.x}, y=#{m.y}, scale=#{m.scale}, angle=#{m.angle}
